* {
  box-sizing: border-box;
  padding, margin: 0;
}


#grid-container {
  block-size: 50vw;
  inline-size: 50vw;

  margin: auto;
  background-color: red;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  border: blue 2px dotted;
  background-color: green;
}