* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  padding-block-start: 40px;
}

#grid-container {
  block-size: 40vw;
  inline-size: 40vw;

  margin: auto;

  background-color: black;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-end: 20px;
}

#button-size {
  display: block;
  margin: auto;
  padding-block: 8px;
  padding-inline: 5px;
}

.block-static {
  /* block-size: 25%;
  inline-size: 25%; */
  background-color: red;
  border: blue 1px dotted;
}

.block-hover {
  background-color: green;
}
